##------------------------------------
## Seven Segment Display Definition
##------------------------------------
NET "data<7>" LOC = "E14";
NET "data<6>" LOC = "G13";
NET "data<5>" LOC = "N15";
NET "data<4>" LOC = "P15";
NET "data<3>" LOC = "R16";
NET "data<2>" LOC = "F13";
NET "data<1>" LOC = "N16";
NET "data<0>" LOC = "P16";
#Segment Selectors (Enable)
NET "en" LOC = "L14";
NET "dir" LOC = "L13";